:root {
  --color-light: rgba(173,216,230,1);
  --color-dark: rgba(54,79,102,1);
}

* { box-sizing: border-box; }

body {
  margin: 0;
  background: var(--color-light);
  background: linear-gradient(170deg, var(--color-light) 10%, var(--color-dark) 90%);
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 5rem;
  color: #fff;
  &::after {
    content: " ✌";
  }
}